<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <strong>News Media</strong>
            <p>Over The Years ORRA Has Been In The News Very Often For Its One In-A-Million Creations Which Have Graced
                Hollywood, Bollywood And Royalty. The Million Euro Diamond Bustier Crafted In Honour Of The Prince And
                Princess Of Belgium Made News So Did The Launch Of The ORRA Crown Star. The Jewels For Nicole Kidman’s
                Satine Necklace In Moulin Rouge, A Bracelet For Hollywood Actress Julianne Moore At The Oscars 2008 Or
                Dressing Up Mallika Sherawat For Cannes 2006, Put The Spotlight On ORRA. Sometimes It Has Been The
                Innovatve Collaborations With International Designers Like Pierre Gauthier And Ann Demeulemeester From
            </p>
        </div>
        <div class="col-md-6">
            <p>Belgium And Gavin Rajahfrom South Africa Or The Innovative Jewellery That Has Emerged With ORRA's
                Association With World Renowned Artists Like SH Raza And Anjolie Ela Menon, That Has Made Headlines.
                Winning Accolades Like The Most Innovative Design, Retailer Jeweller Of The Year And Many Others Has
                Made News. And Ofcourse The Beautiful Designs Which Are Showcased Every Season By The Top End Glossies,
                Ensure That ORRA Is Always In The News.</p>
        </div>
    </div>
</div>