<section class="subpage">
  <div class="container">
    <div class="col-md-12 ">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb" class="align-self-center py-3">
            <ol class="breadcrumb pb-0 mb-0">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">News Media</li>
            </ol>
          </nav>
          <div class="static-page">
            <h1 class="h3 font-bold font-primary pb-3">News Media</h1>
            <p>
              Over The Years Sri Datta Has Been In The News Very Often For Its One In-A-Million Creations Which Have Graced
              Hollywood, Bollywood And Royalty. The Million Euro Diamond Bustier Crafted In Honour Of The Prince And
              Princess Of Belgium Made News So Did The Launch Of The Sri Datta Crown Star. The Jewels For Nicole Kidman’s
              Satine Necklace In Moulin Rouge, A Bracelet For Hollywood Actress Julianne Moore At The Oscars 2008 Or
              Dressing Up Mallika Sherawat For Cannes 2006, Put The Spotlight On Sri Datta. Sometimes It Has Been The
              Innovatve Collaborations With International Designers Like Pierre Gauthier And Ann Demeulemeester From
            </p>
            <p>
              Belgium And Gavin Rajahfrom South Africa Or The Innovative Jewellery That Has Emerged With Sri Datta's
              Association With World Renowned Artists Like SH Raza And Anjolie Ela Menon, That Has Made Headlines.
              Winning Accolades Like The Most Innovative Design, Retailer Jeweller Of The Year And Many Others Has
              Made News. And Ofcourse The Beautiful Designs Which Are Showcased Every Season By The Top End Glossies,
              Ensure That Sri Datta Is Always In The News.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
