<section class="home-categories py-2">
    <div class="custom-container">
        <div class="title-section-div text-center py-4">
            <h2 class="section-title d-inline-block font-semibold position-relative">Shop by Category</h2>
        </div>
        <div class="row py-3">
            <div class="col-lg-2 col-md-3" *ngFor="let category of iconicBanners">
                <a href="javascript:void(0)" class="d-inline-block border mb-4">
                    <figure class="cat-figure">
                        <img [src]="category.imageName" (error)="onImageError($event)" alt="" class="img-fluid">
                    </figure>
                    <p class="text-center py-2 font-black">{{category.name}}</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="highlets py-3">
    <div class="custom-container">
        <div class="highlets-in d-flex">
            <div class="highlet-item text-center" *ngFor="let highlet of highlets">
                <div class="icon-item mb-3">
                    <span [class]="highlet.icon" class="icomoon"></span>
                </div>
                <p>{{highlet.name}}</p>
            </div>
        </div>
    </div>
</section>