<section class="subpage">
  <div class="container">
    <!-- bread crumb-->
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" class="align-self-center py-3">
          <ol class="breadcrumb pb-0 mb-0">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
          </ol>
        </nav>
      </div>
    </div>
    <!--/ bread crumb-->
    <div class="static-page">
      <h1 class="h2 font-semibold font-primary">Terms and Conditions</h1>
      <article>
        <h5 class="mb-2 h5">Instructions to use jewellery</h5>
        <p>1. keep item in plastic cover along with plastic box</p>
        <p>2. dont keep open</p>
        <p>3. dont keep in velvet jewellery box</p>
        <p>4. Repolish whenever necessary ( charges applicable )</p>
      </article>
      <article>
        <h5 class="mb-2 h5">Terms and Conditions</h5>
        <p>1. no return no exchange on new bookings</p>
        <p>2. unboxing vedio must </p>
        <p>3. exchange for damage items only - ( unboxing vedio must ) </p>
        <p>4. another criteria for exchange then - courier charges payed by customer only </p>
      </article>
      <article>
        <h5 class="mb-2 h5">Payment details</h5>
        <p>SRI DATTA JEWELLERY</p>
        <p>HDFC BANK</p>
        <p>CURRENT ACCOUNT</p>
        <p>50200051166710</p>
        <p>50200051166710</p>
        <p><b>IFSC CODE :</b> HDFC0004262</p>
        <p><b>GOOGLEPAY :</b> 7097878781</p>
        <p><b>PHONEPAY :</b> 7097878781</p>
      </article>
    </div>
  </div>
</section>
