<section class="category-banners mt-lg-2 mt-0">

  <div class="custom-container">
    <div class="row pt-2 g-2 justify-content-center d-none">
      <div class="col-md-10 text-center">
        <img src="../assets/images/slidegallery.png" class="img-fluid w-100">
      </div>
      <!-- <ng-container *ngFor="let sb of smallBanners">
                <div class="col-md-6" [ngClass]="{'col-md-6': !sb.isSmall, 'col-6 col-md-3' : sb.isSmall }">
                    <div class="category-banner-item position-relative"  (click)="gotoroute(sb.type, sb.seoName)">
                        <figure>
                            <div class="figurediv position-relative">
                                <img [src]="sb.imageName" class="img-fluid w-100">

                            </div>
                        </figure>
                        <article class="position-absolute">
                            <h6 class="h5 font-bold d-inline-block p-2 mb-3 rounded-2">{{sb.imageText}}</h6>
                            <div class="d-none d-md-block">
                                <a class="color-btn" href="javascript:void(0)">Shop Now</a>
                            </div>
                        </article>
                    </div>
                </div>
            </ng-container>           -->
    </div>

    <div class="row pt-xl-2">
      <div class="title-section-div text-center py-0 py-md-2 mb-2">
        <h2 class="section-title d-inline-block font-semibold position-relative">Our Collections</h2>
      </div>
      <ng-container *ngFor="let sb of smallBanners">
        <div [ngClass]="{'col-md-12': !sb.isSmall, 'mt-4 col-4' : sb.isSmall }">
          <figure>
            <a href="javascript:void(0)">
              <img [src]="sb.imageName" alt="" class="img-fluid w-100">
            </a>
          </figure>
        </div>
      </ng-container>
    </div>

    <!-- <div class="row pt-5">
            <div class="col-md-12">
                <div class="title-section-div text-center py-4">
                    <h2 class="section-title d-inline-block font-semibold position-relative">Our Collections</h2>
                </div>
                <figure>
                    <a href="javascript:void(0)">
                        <img [src]="ourcollectionsBanner" alt="" class="img-fluid w-100">
                    </a>
                </figure>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <a href="javascript:void(0)">
                    <img [src]="viewcollection01" alt="" class="img-fluid w-100">
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)">
                    <img [src]="viewcollection02" alt="" class="img-fluid w-100">
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)">
                    <img [src]="viewcollection03" alt="" class="img-fluid w-100">
                </a>
            </div>
        </div> -->
  </div>
</section>