<section class="subpage">
  <div class="container">
    <!-- bread crumb-->
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" class="align-self-center py-3">
          <ol class="breadcrumb pb-0 mb-0">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Store Appointment</li>
          </ol>
        </nav>
      </div>
    </div>
    <!--/ bread crumb-->
    <div class="static-page">
      <h1 class="h3 font-bold font-primary pb-3">Store Appointment</h1>
      <p>Thank you for your interest in Sri Datta. We request you to provide us with the below details and we
        shall revert at the earliest.</p>

      <div class="row">
        <div class="col-md-8">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input [ngClass]="{'is-invalid' : form.get('name')!.invalid && form.get('name')!.touched}"
                      type="text" class="form-control" placeholder="First Name" formControlName="name">
                    <label for="username"> Name <span class="font-red font-bold">*</span></label>
                  </div>
                  <div *ngIf="submitted && form.get('name')!.invalid" class="invalid-feedback mt-0 d-block">
                    Name must be at least 3 characters
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input
                      [ngClass]="{'is-invalid' : form.get('mobileNumber')!.invalid && form.get('mobileNumber')!.touched}"
                      type="number" class="form-control" placeholder="Mobile No" formControlName="mobileNumber">
                    <label for="username">Mobile No: <span class="font-red font-bold">*</span></label>
                  </div>
                  <div *ngIf="submitted && form.get('mobile')!.invalid " class="invalid-feedback mt-0 d-block">
                    Enter Valid Mobile Number. Its between 10 to 15 digits
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input [ngClass]="{'is-invalid' : form.get('emailId')!.invalid && form.get('emailId')!.touched}"
                      type="email" class="form-control" placeholder="Email Address" formControlName="emailId">
                    <label for="username">Email Address: <span class="font-red font-bold">*</span></label>
                  </div>
                  <div *ngIf="submitted && form.get('emailId')!.invalid " class="invalid-feedback mt-0 d-block">
                    Enter Valid Email Address
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input [ngClass]="{'is-invalid' : form.get('storeDate')!.invalid && form.get('storeDate')!.touched}"
                      type="date" name="storeDate" class="form-control" placeholder="Appointment Date" formControlName="storeDate">
                    <label for="username">Appointment Date<span class="font-red font-bold">*</span></label>
                  </div>
                  <div *ngIf="submitted && form.get('storeDate')!.invalid " class="invalid-feedback mt-0 d-block">
                    Enter Valid Appointment Date
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <textarea [ngClass]="{'is-invalid' : form.get('address')!.invalid && form.get('address')!.touched}"
                      class="form-control" placeholder="Complete Address" id="completeAddress" formControlName="address"
                      style="height: 100px"></textarea>
                    <label for="completeAddress">Complete Address <span class="font-red font-bold">*</span></label>
                  </div>
                  <div class="addresscount">
                    {{ updateCharacterCount() }} / {{ maxAddressLength }}
                  </div>
                  <div *ngIf="submitted && form.get('address')!.invalid" class="invalid-feedback mt-0 d-block">
                    Address must be less than 100 characters.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <textarea [ngClass]="{'is-invalid' : form.get('message')!.invalid && form.get('message')!.touched}"
                      class="form-control" placeholder="Enter Message" id="EnterMessage" style="height: 100px"
                      formControlName="message"></textarea>
                    <label for="EnterMessage">Enter Message <span class="font-red font-bold">*</span></label>
                  </div>
                  <div *ngIf="submitted && form.get('message')!.invalid" class="invalid-feedback mt-0 d-block">
                    Message is Required
                  </div>
                </div>
              </div>


              <button class="btn color-btn w-100 text-center font-bold" type="submit" (click)="submit()">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="card border mb-3">
            <div class="card-header">Mail Us</div>
            <div class="card-body">
              <p>Happy to help you. Please mail us on</p>
              <p class="pb-0"><a href="mailto:contact@sridutta.com"
                  class="font-primary font-bold">contact@sridutta.com</a>
              </p>
            </div>
          </div>
          <div class="card border mb-3">
            <div class="card-header">Call us</div>
            <div class="card-body">
              <p>Delighted to Serve you.</p>
              <p class="pb-0">
                IND:+91 70978 78781<br>
              </p>
            </div>
          </div>
          <div class="card border mb-3">
            <div class="card-header">Address</div>
            <div class="card-body">
              <p class="pb-0">
                <a href="/store-locator" class="font-primary font-bold">Check out our stores in India.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>