<div class="row d-none d-md-block">
  <div class="col-md-12 terms-content">
    <h1 class="h4 font-black pb-2 font-bold">Sri Datta Jewellery – SINCE 1888</h1>
    <p>Sri Datta is one of India's finest jewellery retail chains, in business since 1888 and are spread across India
      with 91 stores in 39 cities. Consistently at the forefront of design leadership and product innovation, our 5
      globally renowned design centres across the country are constantly producing diamond and gold jewellery that is
      cutting-edge, in keeping with the times and aligned to modern sensibilities.</p>

    <h2 class="pb-2">Certified Jewellery Retailer online </h2>
    <p>At Sri Datta, our jewellery is 100% certified, covering collections that span gold, diamonds is BIS Hallmarked
      Jewellery and platinum is PT 950 certification. Our versatile range of products include stunning and eyecatching
      jewellery;</p>

    <ul>
      <li>1. Stud Earrings and Danglers: From simple chic pieces, to elaborate hanging earrings, studded with diamonds
        and colored gemstones worn with contemporary and traditional wear.</li>
      <li>2. Solitaire Rings: Make special occasions even more grand with solitaire rings in gold, gift them to your
        beloved, or buy them in varied designs for engagement and weddings.</li>
      <li>3. Diamond Studded Pendants: Perfect pendants in diamonds in rose gold and yellow gold, or 950Pt platinum for
        everyday or occasion wear.</li>
      <li>4. Magnificent Mangalsutras: From elegant mangalsutras to elaborate diamond studded tanmaniyas, perfect for
        bridal trousseaus and Indian traditional wear</li>
      <li>5. Elaborate Diamond Necklaces: Necklaces that lend shine and surreality to your everyday or occasion wear,
        from the most resplendent to the minimalist studded with diamonds</li>
      <li>6. Fine Diamond Nosepins: Delicate diamond and gold nosepins for the true jewellery connoisseur</li>
      <li>7. Daily Wear Bangles and Resplendent Bracelets: From simple to the most flourishing designs, kadas,
        chain-linked bracelets, to stackable designer diamond bangles you can flaunt.</li>
    </ul>

    <p>We push design innovation to bring together form and function, without compromising on aesthetics. Our jewellery
      collections are carefully curated, beautiful to behold, from the mesmerizing Astra Jewellery Collection, to the
      chic and trendy Desired Collection and imaginatively designed Crown Star range. At Sri Datta, every jewellery
      piece has a story, and every one of them is waiting to find theirs in yours.</p>

    <h2 class="pb-2">Your one-stop trusted online jewellery destination </h2>
    <p>Unique, resplendent and aligned to your needs, ORRA curates BIS Hallmarked Gold Jewellery and Platinum Certified
      Jewellery. Our products are a must-buy for the connoisseur who puts themselves over everything else. Our patrons
      are a versatile set of people from all walks of life, who have bought from us constantly based on trust in our
      work, truth in what we promise and transparency in our processes. We are committed to ensure your complete
      satisfaction with all of the products on our website, 100% certified jewellery to validate your 'hard earned'
      money and a 7-days Return Policy in case you ae not satisfied. Once purchased, every product has a Life Exchange &
      Buyback Policy, is assured of a Safe and Fast Delivery, with your purchase being tracked and updated at every step
      of the delivery process.</p>

    <h2 class="pb-2">Exclusive Online Jewellery Store </h2>
    <p>At Sai Datta, adhering to the highest standards of quality and authenticity is what we live by. Our jewellery is
      infused with energy, artistry and contemporary elegance in keeping with the changing times, with competitive
      pricing to match. What you purchase from us is an exclusive range found nowhere else, jewellery for modern
      sensibilities and eclectic tastes.</p>

    <h2 class="pb-2">Shop Online with Ease </h2>
    <p>Buy from our range of Sri Datta jewellery, from traditional indigenous designer earrings, to contemporary classic
      necklaces, modern chains and bangles, to minimal bracelets and pendant sets. We make your shopping easier and
      reduce the confusion with filters for jewellery on the basis of diamonds, gold color, number of stones, weight and
      karat of gold, carat of diamond, and so much more. Shop online at www.sridatta.com your one-stop jewellery
      destination for formal, informal soirees and special occasions.</p> 
  </div>
</div>